body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.m-header {
  position: fixed;
  z-index: 10000;
  width: 100%;
  background: #fff !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.flex-box {
  display: flex;
}
.m-right {
  margin-right: 10px;
}
.m-bottom {
  margin-bottom: 10px !important;
}
.m-card {
  max-width: 90vw;
  margin-bottom: 10px !important;
}
.padding10 {
  padding: 10px;
}

.m-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
